.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

bin/
obj/
*.exe
vendor/
gsppd

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

data/map_data.sqlite
*.sqlite
*.sqlite3
*.db
*.db-journal

*.qgz~
*.qgs~
*.qmd~
*.docx
*.tif
